src/*.exe
src/hipcoin
src/hipcoind
src/test_hipcoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.hipcoin
#compilation and Qt preprocessor part
*.qm
Makefile
hipcoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
